<template name="components_uploadfile">
    <div class="panel panel-default panel-dapp">
	<div class="panel-heading">
		Upload File
	</div>
      <div class="panel-body">
             
	<div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
		
		<div class="form-group">
			<label for="BondsToBuy" class="col-sm-4 control-label">No Of Bonds</label>
			<div class="col-sm-4">
				<input type="text" id="BondsToBuy" class="form-control" value="" placeholder="No of Bonds" />
			</div>
		</div>

		<div class="form-group">
			<label for="uploadfile" class="col-sm-4 control-label">Upload</label>
			<div class="col-sm-4">
				<input type="file" id="uploadfile" class="form-control" value="" placeholder="Upload" />
			</div>
		</div> 
		<div class="form-group">
			<div class="col-sm-5">
    				<button type="button" id="buyBond" style="position: relative;top: 10px;left: 80%;" class="btn btn-info 	btn-deploy">Buy Bond
			         </button>
    			</div>
    		</div>
	</form>
	</div>
	</div>
    </div>
    </div>
</template>
